html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "RobotoMono-Bold";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-BoldItalic";
  src: url("../fonts/RobotoMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Italic";
  src: url("../fonts/obotoMono-Itali.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Light";
  src: url("../fonts/RobotoMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-LightItalic";
  src: url("../fonts/RobotoMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Medium";
  src: url("../fonts/RobotoMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-MediumItalic";
  src: url("../fonts/RobotoMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Regular";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Thin";
  src: url("../fonts/RobotoMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-ThinItalic";
  src: url("../fonts/RobotoMono-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Bold";
  src: url("../fonts/IBMPlexMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-BoldItalic";
  src: url("../fonts/IBMPlexMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ExtraLight";
  src: url("../fonts/IBMPlexMono-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ExtraLightItalic";
  src: url("../fonts/IBMPlexMono-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Italic";
  src: url("../fonts/IBMPlexMono-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("../fonts/IBMPlexMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-LightItalic";
  src: url("../fonts/IBMPlexMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url("../fonts/IBMPlexMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-MediumItalic";
  src: url("../fonts/IBMPlexMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-SemiBoldItalic";
  src: url("../fonts/IBMPlexMono-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url("../fonts/IBMPlexMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ThinItalic";
  src: url("../fonts/IBMPlexMono-ThinItalic.ttf") format("truetype"); }

/**************************/
.media-logo a {
  width: 21%;
}
.media-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.media-logo img {
  max-width: 100%;
  height: auto;
}
.media-logo svg {
  width: 21%;
}
.media-logo.after::after{
  content: '';
  flex: auto;
}
.media-logo.after a{
  margin: 0 5.5% 0 0;
}
.media-slider.desc{
    display: block;
  }
  .media-slider.mob{
    display: none;
  }
.owl-carousel .owl-stage{
  display: flex;
  align-items: center;
  margin: 40px 0 0;
 }
.owl-next{
  position: absolute;
    left: auto;
    font-size: 40px;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    right: -50px;
    top: 30%;
}
.owl-dots{
  display: flex;
  justify-content: center;
}

.owl-carousel button.owl-dot{
  background-color: #08ef85;
  width: 30px;
  height: 10px;
  margin: 0 10px;
  opacity: .5;
}
.owl-carousel .owl-item img{
  width: 32%;
  margin: 0px 10px;
}
.owl-dots button.owl-dot.active {
  opacity: 1;
}

.fullpage-content{
  width: 100%;
}

.text-up-wrap{
  display: flex;
  align-items: center;
}
.green-text{
    width: 30%;
    color: #08ef85;
    font-size: 36px;
    font-family: 'RobotoMono-Bold', sans-serif; 
}
.media-title{
  width: 100%;
  color: #fff;
  font-size: 36px;
  font-family: 'RobotoMono-Bold', sans-serif; 
}
.media-slider{
  width: 90%;
  margin: 0 auto;
}
.media-title span{
  color:#08ef85;
}
.media-content{
  display: flex;
  flex-direction: column;
}
.slide-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-counter {
  height: 100px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 20px;
  top: 30%;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-transition: all .5s linear .5s;
  transition: all .5s linear .5s; }

.slide-counter-span {
  font-size: 14px;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  color: #fff; }

.slide-counter-span-num {
  color: #08ef85; }

.slide-counter-span-line {
  height: 50%;
  width: 1px;
  background-color: #fff; }



.price{
  padding: 0 0 45px 0;
}

.price-title{
font-family: 'IBMPlexMono-Medium', sans-serif;
color: #fff;
padding: 0 0 20px 0;
}
.price-count{
  color: #08ef85;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  font-size: 36px;
  display: flex;

}
.price-count-line{
  font-size: 18px;
  color: #fff;
  padding: 0 0 0 20px;
  position: relative;
}
.price-count-line::after{
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #fff;
  top: 23%;
  right: 0;
  content: '';
}

.right-wrap .become-sponsor-link{
  display: none;
}
/**************************/

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }
.media-container{
  max-width: 1260px;
}
html {
  min-height: 100%;  }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-height: 100%;
  height: 100%;
  font-family: 'RobotoMono-Light', sans-serif;
  background-image: url(../img/stub-bcg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed; }

a {
  font-family: 'IBMPlexMono-Regular', sans-serif;
  text-decoration: none; }

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.btn-green {
  background: #08ef85;
  border: 1px solid #08ef85;
  color: #252525;
  display: inline-block;
  padding: 12px 47px;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s; }

.btn-green:hover {
  background: transparent;
  color: #08ef85; }

.btn-small {
  font-size: 14px; }

.btn-medium {
  font-size: 16px; }

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.main-content {
  padding: 0  0 50px; }

.header {
  width: 100%;
  /*background: #000;*/
  z-index: 1;
  position: fixed;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.header-wrap {
  width: 100%;
  padding: 18px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-wrap .header-logo {
    display: inline-block;
    max-width: 190px;
    height: auto;
    position: relative;
    z-index: 1000; }
    .header-wrap .header-logo img {
      width: 100%;
      height: auto; }
  .header-wrap .nav-text {
    display: inline-block;
  }
    .header-wrap .nav-text .become-sponsor-link {
      padding: 10px 48px;
      color: #fff;
    }
.header-wrap .nav-text .become-sponsor-link.mobile {
  display: none;
}
.header-not-fixed{
  position: static;
}
.main {
  width: 100%;
  z-index: 0;
  padding: 60px 0; }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.img-wrap-statue {
  height: 680px;
  width: 495px;
  background-image: url(../img/statue.png); }
  .img-wrap-statue:before {
    background-image: url(../img/statue.png); }

.soc-wrap {
  position: fixed;
  bottom: 22px;
  right: 31px;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .soc-wrap a {
    color: #fff;
    -webkit-transition: color .3s;
    transition: color .3s;
    display: inline-block;
    margin: 14px auto; }
    .soc-wrap a i {
      font-size: 16px; }

.right-wrap {
  width: 50%;
  padding: 0 0 35px 14px; }
  .right-wrap h2 {
    margin: 20px 0 0;
    color: #08ef85;
    font-size: 36px;
    font-family: 'RobotoMono-Bold', sans-serif; }
  .right-wrap h3 {
    font-size: 24px;
    /*padding: 10px 0 0;*/
    font-family: 'RobotoMono-Regular', sans-serif;
    margin: 0 auto 5px;
    color: #08ef85; }
  .right-wrap p.blue-txt {
    font-family: 'RobotoMono-Regular', sans-serif;
    color: #fff;
    display: inline-block;
    background-color: #2a36e6;
    padding: 0 10px;
    font-size: 18px; }
  .right-wrap p {
    color: #fff;
    padding: 45px 0px;
    font-family: 'IBMPlexMono-Medium', sans-serif;
    line-height: 30px; }
    .right-wrap p span {
      display: block; }

.recovery-pass-form {
  position: relative;
  max-width: 400px;
  width: 100%; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-no-acc, .form-already-acc {
    text-align: center;
    color: #999;
    width: 100%;
    font-family: 'IBMPlexMono-Medium', sans-serif;
    font-size: 14px; }
    .form-no-acc a, .form-already-acc a {
      color: #fff;
      text-decoration: underline; }
  .form-title {
    font-family: 'RobotoMono-Bold', sans-serif;
    font-size: 36px;
    color: #08ef85;
    width: 100%;
    text-align: center; }
    .form-title .title-decor-cross {
      position: relative; }
      .form-title .title-decor-cross:before, .form-title .title-decor-cross:after {
        display: block;
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        background: url(../img/svg/green_cross.svg) no-repeat center center/contain; }
      .form-title .title-decor-cross:after {
        left: 100%;
        top: 0; }
      .form-title .title-decor-cross:before {
        right: 105%;
        bottom: 0; }
    .form-title.recovery-pass-form-title {
      margin: 0 auto 50px; }
      .form-title.recovery-pass-form-title .title-decor-cross:after {
        left: 18%; }
      .form-title.recovery-pass-form-title .title-decor-cross:before {
        right: 188%;
        bottom: 100%; }
      .form-title.recovery-pass-form-title:after, .form-title.recovery-pass-form-title:before {
        display: block;
        content: '';
        position: absolute; }
      .form-title.recovery-pass-form-title:after {
        background: url(../img/svg/two_white_wave.svg) no-repeat center center/contain;
        left: 94%;
        bottom: 97%;
        width: 35px;
        height: 11px; }
      .form-title.recovery-pass-form-title:before {
        background: url(../img/svg/white_wave.svg) no-repeat center center/contain;
        left: -10px;
        top: 30px;
        width: 25px;
        height: 7px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
  .form-desc {
    font-family: 'IBMPlexMono-Medium', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    line-height: 28px; }
    .form-desc.auth-form-desc {
      max-width: 315px;
      margin: 0 auto; }
  .form-input {
    background: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: transparent transparent #08ef85 transparent;
    margin: 10px 0 0;
    font-size: 18px;
    color: #fff;
    padding: 14px 5px;
    width: 100%;
    outline: none; }
    .form-input-row {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 auto 20px;
      max-width: 410px; }
      .form-input-row span {
        display: block;
        width: 100%; }
    .form-input-title {
      font-family: 'IBMPlexMono-Medium', sans-serif;
      font-size: 14px;
      color: #fff; }
  .form-submit {
    margin: 20px auto;
    text-align: center; }

.forgot-password,
.above {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  color: #999;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  line-height: normal; }
  .forgot-password a,
  .above a {
    font-family: 'IBMPlexMono-Medium', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: underline; }

.auth-page {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.back-link-wrap {
  width: 100%;
  text-align: left; }

.back-link-inner {
  width: 90%;
  margin: 20px auto; }
  .back-link-inner a {
    font-family: 'RobotoMono-Regular', sans-serif;
    font-size: 18px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .back-link-inner a svg {
      fill: rgba(255, 255, 255, 0.5);
      width: 20px;
      margin: 0 5px 0; }

.auth-form {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #191919;
  padding: 40px;
  max-width: 630px;
  width: 100%;
  position: relative; }

.terms-use-decor-cross-1 {
  position: absolute;
  left: -10%;
  top: -80px;
  width: 25px; }

.terms-use-decor-cross-2 {
  position: absolute;
  right: -4.8%;
  top: -45px;
  width: 15px;
  opacity: .5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.terms-use-decor-wave-2 {
  position: absolute;
  right: -15%; }

.terms-use-decor-cross-3 {
  position: absolute;
  left: -5.2%;
  top: 25%;
  width: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: .5; }

.terms-use-decor-cross-5 {
  position: absolute;
  right: -4.8%;
  top: 100px;
  width: 15px; }

.terms-use-decor-wave-5 {
  position: absolute;
  left: -15%;
  top: 45%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.terms-use-decor-cross-7 {
  position: absolute;
  left: -4.8%;
  top: 45%; }

.terms-of-use-page {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.terms-of-use-title-decor-privce {
  position: absolute;
  right: 0%;
  top: 100%;
  display: block;
  width: 25px; }
  .terms-of-use-title-decor-privce img, .terms-of-use-title-decor-privce svg {
    width: 100%; }

.terms-use-decor-cross-5-privce {
  position: absolute;
  left: -5%;
  top: 139%;
  width: 20px; }

.terms-use-decor-cross-4-privce {
  position: absolute;
  left: -5%;
  top: 50%;
  width: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: .5; }

.terms-use-decor-cross-3-privce {
  position: absolute;
  right: -7%;
  top: 50%;
  width: 20px; }

.terms-use-decor-cross-2-privce {
  position: absolute;
  right: -5%;
  top: 50%;
  width: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: .5; }

.terms-use-decor-cross-1-privce {
  position: absolute;
  left: 1%;
  top: 20px;
  width: 20px; }

.page-title {
  width: 100%;
  color: #00Ef7f;
  font-size: 30px;
  font-weight: bold;
  font-family: 'IBMPlexMono-Regular', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  position: relative; }
  .page-title .terms-of-use-title-decor {
    position: absolute;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 25px; }
    .page-title .terms-of-use-title-decor img, .page-title .terms-of-use-title-decor svg {
      width: 100%; }

.page-content {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #191919;
  padding: 40px; }

.page-block {
  width: 100%;
  position: relative; }
  .page-block-title {
    color: #08ef85;
    font-family: 'IBMPlexMono-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin: 40px auto;
    width: 100%; }
    .page-block-title.tac {
      text-align: center; }
  .page-block-text {
    font-family: 'IBMPlexMono-Regular', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    margin: 0 auto 25px; }

.statue-block {
  width: 100%;
  margin: 20px auto;
  text-align: center; }

.coinpayment-form {
  width: 100%;
  max-width: 372px; }

.personal-buy-ticket-form-wrap-crypto form {
  text-align: center; }

.site-footer {
  position: fixed;
  bottom: 27px;
  left: 0; }

.footer-wrap {
  width: 100%; }
  .footer-wrap .nav-text {
    line-height: normal;
    font-family: 'IBMPlexMono-Regular', sans-serif;
    margin-left: 27px; }
    .footer-wrap .nav-text a {
      font-family: 'IBMPlexMono-Regular', sans-serif;
      color: #fff;
      margin: 0 25px 0 0; }

.decor-wave-one {
  position: absolute;
  left: -17px;
  bottom: 20%;
  width: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  .decor-wave-one img {
    width: 100%; }

.decor-wave-one-privce {
  position: absolute;
  left: -5%;
  bottom: 20%;
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .decor-wave-one-privce img {
    width: 100%; }

.decor-wave-three-privce {
  position: absolute;
  right: -6%;
  bottom: 20%;
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .decor-wave-three-privce img {
    width: 100%; }

.decor-wave-two {
  position: absolute;
  right: -12px;
  top: 6%;
  width: 30px; }
  .decor-wave-two img {
    width: 100%; }

.personal__ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.personal__ticket__price {
  width: 45%;
  margin: 0 1% 0;
  padding: 20px; }

.personal__ticket__price__title {
  font-family: 'IBMPlexMono-Regular', sans-serif;
  font-size: 22px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: auto 0 auto auto; }

.personal__ticket__price__payment {
  line-height: normal;
  color: #08ef85;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'RobotoMono-Bold' , sans-serif; }

.personal__ticket__price__payment__span {
  font-size: 36px;
  color: #454545;
  line-height: normal;
  margin: auto 0 0 7px;
  position: relative;
  padding: 0 7px; }
  .personal__ticket__price__payment__span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: #626262;
    left: 0;
    top: 50%; }

.personal__ticket__counter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #252525;
  background-color: #181818;
  padding: 20px; }

.personal__ticket__counter__title {
  width: 90%;
  font-family: 'IBMPlexMono-Regular', sans-serif;
  font-size: 22px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  magin: 0 auto; }

.personal__ticket__counter__count {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.personal__ticket__counter__count__item {
  width: 33%;
  text-align: center;
  line-height: normal;
  font-family: 'IBMPlexMono-Bold', sans-serif;
  font-size: 36px;
  color: #fff; }
  .personal__ticket__counter__count__item:nth-child(2) {
    position: relative; }
    .personal__ticket__counter__count__item:nth-child(2):after {
      content: '';
      width: 1px;
      height: 70%;
      top: 15%;
      background-color: #626262;
      position: absolute;
      left: 0; }
    .personal__ticket__counter__count__item:nth-child(2):before {
      content: '';
      width: 1px;
      height: 70%;
      top: 15%;
      background-color: #626262;
      position: absolute;
      right: 0; }

.personal__ticket__counter__count__item__span {
  font-size: 22px;
  color: #454545; }

.personal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.personal__btn__cross__img {
  position: absolute;
  top: 200%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .3; }

.personal__btn__cross__img img {
  margin: 10px; }

.personal__btn__button {
  padding: 10px 23px;
  text-align: center;
  font-family: 'IBMPlexMono-Regular', sans-serif;
  margin: 0 10px;
  font-size: 22px;
  color: #a8a8a8; }
  .personal__btn__button.active {
    border-bottom: 4px solid #08ef85;
    color: #08ef85; }

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 100%; }

.header-logout {
  display: block;
  margin: 0 0 0 20px;
  width: 25px; }

.decor-wave-two-personal {
  position: absolute;
  right: 07%;
  top: 25%;
  width: 30px; }

.decor-wave-two-personal-down {
  position: absolute;
  right: 15%;
  bottom: 25%;
  width: 30px; }

.personal-buy-ticket-form-wrap-crypto,
.personal-buy-ticket-form-wrap-money {
  display: none; }

.personal-buy-ticket-form-wrap.active {
  display: block; }

.glitch {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }
  .glitch:before {
    display: block;
    /*content: '';*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    opacity: 0.5;
    -webkit-animation: animate 5s infinite;
            animation: animate 5s infinite; }

@-webkit-keyframes animate {
  0% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  1% {
    background-position: 4px 0; }
  2% {
    background-position: -4px 0; }
  3% {
    background-position: 12px 0; }
  4% {
    background-position: -16px 0; }
  5% {
    background-position: -24px 0; }
  6% {
    background-position: -52px 0; }
  7% {
    background-position: 0 22px; }
  8% {
    background-position: -40px -10px; }
  9% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    100% { }
    background-position: 0 0;
    filter: hue-rotate(360deg); } }

@keyframes animate {
  0% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  1% {
    background-position: 4px 0; }
  2% {
    background-position: -4px 0; }
  3% {
    background-position: 12px 0; }
  4% {
    background-position: -16px 0; }
  5% {
    background-position: -24px 0; }
  6% {
    background-position: -52px 0; }
  7% {
    background-position: 0 22px; }
  8% {
    background-position: -40px -10px; }
  9% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    100% { }
    background-position: 0 0;
    filter: hue-rotate(360deg); } }

.close-modal {
  position: absolute;
  right: 27px;
  top: 27px; }
  .close-modal svg {
    fill: #919191;
    width: 25px;
    height: 25px; }

.modal {
  background: #222328;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  padding: 70px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 100; }
  .modal.thank-you-modal {
    padding: 70px 0 0; }
  .modal.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto; }
  .modal-title {
    font-family: 'RobotoMono-Bold', sans-serif;
    font-size: 36px;
    color: #08ef85;
    width: 100%; }
  .modal-pre-text {
    font-family: 'IBMPlexMono-Medium', sans-serif;
    font-size: 18px;
    color: #fff;
    max-width: 580px;
    margin: 30px 0; }
  .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 895px;
    width: 100%; }
  .modal-img.modal-img-lion {
    background-image: url(../img/statue_lion.png);
    width: 302px;
    height: 383px; }
    .modal-img.modal-img-lion:before {
      background-image: url(../img/statue_lion.png); }
  .modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .modal-form-contact {
      max-width: 410px; }
    .modal-form-row {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 0 20px; }
      .modal-form-row span {
        display: block;
        width: 100%; }
    .modal-form-input {
      background: rgba(0, 0, 0, 0.5);
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: transparent transparent #08ef85 transparent;
      border-radius: 0;
      margin: 5px 0 0;
      font-size: 18px;
      color: #fff;
      padding: 14px 5px;
      width: 100%;
      outline: none; }
      .modal-form-input-title {
        font-family: 'IBMPlexMono-Medium', sans-serif;
        font-size: 14px;
        color: #fff; }

.decor-cross {
  position: absolute;
  left: 27px;
  bottom: 100px; }
  .decor-cross svg,
  .decor-cross img {
    fill: #07e782;
    fill-rule: evenodd;
    height: 190px; }

.get-invite-inner,
.thank-you-modal-inner,
.become-sponsor-inner,
.contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; }

.contact-inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.get-invite-modal-row,
.become-sponsor-modal-row,
.contact-modal-row {
  max-width: 410px;
  width: 100%; }
  .get-invite-modal-row:not(.contact-modal-row):nth-child(odd),
  .become-sponsor-modal-row:not(.contact-modal-row):nth-child(odd),
  .contact-modal-row:not(.contact-modal-row):nth-child(odd) {
    margin: 0 10px 20px 0; }

.modal-statue-thank-you-img {
  background-image: url(../img/statue_thank-you.png);
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 657px;
  width: 392px; }
  .modal-statue-thank-you-img:before {
    background-image: url(../img/statue_thank-you.png); }

@media all and (max-width: 1024px) {
  /********************************/
  .text-up-wrap{
    flex-direction: column;
    align-items: flex-start;
  }
  .right-wrap p.blue-txt{
    margin: 10px auto 0;
    width: 100%;
  }

  /********************************/
  .modal-content-get-invite {
    max-width: 530px; } }

@media all and (max-width: 768px) {
  /********************************/
  .header{
    position: static;
  }
  .right-wrap h3{
    padding: 25px 0 0;
    margin: 0 auto;
  }
    .media-slider.mob{
    display: block;
  }
  .media-slider.desc{
    display: none;
  }
  .green-text{
    width: 50%;
  }
  .slide-counter{
    display: none;
  }
    .slide-item{
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .owl-carousel .owl-item img{
    width: 60%;
    margin: 0 auto;
  }
  .text-up-wrap{
    align-items: center;
    /*padding: 50px 0 0 ;*/
  }
  .right-wrap p.blue-txt{
    width: 70%;
  }
  .price-count{
    justify-content: center;
  }
  body{
    background-image: none;
    background-color: #000;
  }
  .header-wrap{
    background-color: #000;
  }
  .header{
    z-index: 1;
  }
  .media-slider{
    z-index: 0
  }
  .main{
    /*padding: 105px 0 0;*/
    /*z-index: 0;*/
  }
  /********************************/
  .modal {
    padding: 70px 15px; }
  .get-invite-modal-row:not(.contact-modal-row):nth-child(odd),
  .get-invite-modal-row:not(.contact-modal-row):nth-child(even),
  .become-sponsor-modal-row:not(.contact-modal-row):nth-child(odd),
  .become-sponsor-modal-row:not(.contact-modal-row):nth-child(even),
  .contact-modal-row:not(.contact-modal-row):nth-child(odd),
  .contact-modal-row:not(.contact-modal-row):nth-child(even) {
    margin: 0 auto 20px; }
  .decor-cross {
    left: 7px; }
  .submit-btn {
    margin: 0 auto; } }

@media all and (max-width: 578px) {
  .main{
    padding: 0px !important;
  }
  .owl-carousel .owl-item img{
    width: 85%;
    margin: 0 auto;
  }
  /********************************/
/*  .slide-item{
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .owl-carousel .owl-item img{
    width: 33%;
  }*/
  .owl-carousel button.owl-dot{
    width: 23px;
    height: 7px;
    margin: 0 7px;
  }
    .right-wrap p.blue-txt{
    width: 100%;
  }
  /********************************/

  .close-modal {
    right: 15px;
    top: 15px;
    padding: 0; }
  .inner-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .modal-content {
    padding: 0 15px;
    width: 100%;
    width: 100%; }
  .modal-title {
    font-size: 30px;
    text-align: center; }
  .modal-pre-text {
    text-align: center; }
  .modal-img.modal-img-lion {
    height: 230px;
    width: 178px;
    margin: 0 auto; }
  .modal-statue-thank-you-img {
    height: 253px;
    width: 150px;
    background-size: contain; }
    .modal-statue-thank-you-img:before {
      height: 253px;
      width: 150px;
      background-size: contain; } }

@media all and (min-width: 1366px) {
  html {
    height: 100%; } }

@media all and (width: 1366px) and (height: 1024px) {
  body.main-page {
    height: 100vh; } }

@media all and (width: 1024px) and (height: 1366px) {
  body.main-page {
    height: 100vh; } }

@media all and (width: 812px) and (height: 375px) {
  .site-footer {
    position: relative; } }

@media all and (width: 736px) and (height: 414px) {
  .site-footer {
    position: relative; } }

@media all and (width: 667px) and (height: 375px) {
  .site-footer {
    position: relative; } }

@media all and (min-width: 1600px) and (max-width: 1910px) {
  .img-wrap-statue {
    height: 580px;
    width: 440px; } }

@media all and (min-width: 1366px) and (max-width: 1599px) {
  .main-content {
    padding: 0; }
  .img-wrap-statue {
    height: 480px;
    width: 440px; } }
@media all and (min-width: 1025px) and (max-width: 1365px) {
  .img-wrap-statue{
    width: 415px;
    height: 550px;
  }
  }
@media all and (max-width: 1024px) {
  .decor-wave-two-personal {
    display: none; }
  .decor-wave-two-personal-down {
    display: none; }
  .personal__ticket__price__payment {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .personal__ticket__price__title {
    width: 98%; }
  .header-wrap .header-logo {
    z-index: 10; }
  .img-wrap-statue {
    height: 540px; }
  .personal__ticket__price {
    width: 100%;
    margin: 0 auto; }
  .personal__ticket__counter {
    margin: 0 auto;
    width: 100%;
    text-align: center; } }

@media all and (max-width: 768px) {
  .slide-item a{
    width: 100%;
  }

  .personal__btn__cross__img {
    display: none; }
  .header-wrap {
    padding: 15px; }
  .header-wrap .header-logo img {
    width: 90%; }
  .header-wrap .nav-text .become-sponsor-link {
    padding: 10px 20px;
    display: block;
    margin: 0 auto}
  .btn-green-1 {
    padding: 10px 25px; }
  .main-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0 0; }
  .right-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    text-align: center;
    padding: 0 0 35px 0; }
  .img-wrap-statue {
    margin: 20px auto 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 400px;
    background-position: center; }
    .img-wrap-statue:before {
      background-position: center; }
  .back-link-wrap {
    display: none; }
  .right-wrap p.blue-txt {
    font-size: 16px; }
  .form-desc {
    font-size: 16px; }
  .form-input {
    font-size: 16px; }
  .back-link-inner a {
    font-size: 16px; }
  .page-block-text {
    font-size: 16px; }
  .site-footer {
    position: relative; } }

@media all and (max-width: 667px) {
  .terms-use-decor-wave-2 {
    display: none; }
  .auth-form {
    width: 92%;
    padding: 10px; }
  .header-contact {
    margin: 10px auto; }
  .personal__ticket__counter__count__item {
    width: 100%;
    text-align: center; }
  .personal__ticket__counter__count__item__data__min {
    width: 45px;
    max-width: 100%;
    display: inline-block; }
  .personal__ticket__counter__count__item__span {
    width: 70px;
    display: block;
    margin: 0 auto; }
  .personal__ticket__price__payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .personal__ticket__price__payment span {
      width: 70%;
      margin: 0 auto;
      display: block;
      text-align: center; }
  .personal__ticket__price__title {
    width: 100%;
    display: block;
    text-align: center; }
  .personal__btn__button {
    padding: 0;
    font-size: 20px; } }

.personal__ticket__counter {
  padding: 10px; }

.personal__ticket__counter__title {
  width: 100%; }

@media all and (max-width: 578px) {
  .slide-item a{
    width: 100%;
  }
  .footer-wrap .nav-text a{
    font-size: 10px;
    font-family: 'IBMPlexMono-Regular', sans-serif;
  }
    .footer-wrap .nav-text {
    font-size: 10px;
    font-family: 'IBMPlexMono-Regular', sans-serif;
  }
  .slide-counter{
    top: 17%;
  }
  .header-logout {
    position: absolute;
    right: 15px;
    top: 15px; }
  .header-wrap {
    justify-content: space-between;
    margin: 0 auto;
  }
  .header-logo {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  .header-wrap .nav-text {
    width: 100%;
    margin: 0 auto;
    text-align: right; }
  .header-wrap .nav-text .become-sponsor-link {
    display: none;
  }
  .become-sponsor-link.mobile {
    display: block;
    margin: 20px auto 0;
    color: #fff;
    font-size: 16px;
    position: relative;
  }
  .become-sponsor-link.mobile:after {
    width: 95%;
    height: 1px;
    background: #08ef85;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    bottom: -5px;
  }
  .main-content {
    padding: 0; }
  .right-wrap p {
    padding: 20px 0;
    line-height: 20px; }
  .img-wrap-statue {
    height: 230px;
    width: 185px; }
  .soc-wrap {
    right: 7px; }
  .site-footer {
    position: relative;
    bottom: 0; }
  .footer-wrap .nav-text {
    margin: 0 auto;
    padding: 20px 15px; }
  .page-content {
    padding: 10px;
    width: 100%;
    word-break: break-word; }
}

@media all and (max-width: 480px) {
  .header-wrap .nav-text .btn-green {
    padding: 12px 20px;
  }
  .right-wrap p span {
    display: inline; }
  .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header-contact-right {
    margin: 10px 0; } }
