/**
 * Owl Carousel v2.3.3
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{color:inherit;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/*!
 * fullPage 3.0.0
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.fp-right {
    right: 17px;
}
#fp-nav.fp-left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
    bottom: 17px;
}
.fp-slidesNav.fp-top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "RobotoMono-Bold";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-BoldItalic";
  src: url("../fonts/RobotoMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Italic";
  src: url("../fonts/obotoMono-Itali.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Light";
  src: url("../fonts/RobotoMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-LightItalic";
  src: url("../fonts/RobotoMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Medium";
  src: url("../fonts/RobotoMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-MediumItalic";
  src: url("../fonts/RobotoMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Regular";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Thin";
  src: url("../fonts/RobotoMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-ThinItalic";
  src: url("../fonts/RobotoMono-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Bold";
  src: url("../fonts/IBMPlexMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-BoldItalic";
  src: url("../fonts/IBMPlexMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ExtraLight";
  src: url("../fonts/IBMPlexMono-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ExtraLightItalic";
  src: url("../fonts/IBMPlexMono-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Italic";
  src: url("../fonts/IBMPlexMono-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("../fonts/IBMPlexMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-LightItalic";
  src: url("../fonts/IBMPlexMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url("../fonts/IBMPlexMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-MediumItalic";
  src: url("../fonts/IBMPlexMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-SemiBoldItalic";
  src: url("../fonts/IBMPlexMono-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url("../fonts/IBMPlexMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ThinItalic";
  src: url("../fonts/IBMPlexMono-ThinItalic.ttf") format("truetype"); }

/**************************/
.media-logo a {
  width: 21%;
}
.media-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.media-logo img {
  max-width: 100%;
  height: auto;
}
.media-logo svg {
  width: 21%;
}
.media-logo.after::after{
  content: '';
  flex: auto;
}
.media-logo.after a{
  margin: 0 5.5% 0 0;
}
.media-slider.desc{
    display: block;
  }
  .media-slider.mob{
    display: none;
  }
.owl-carousel .owl-stage{
  display: flex;
  align-items: center;
  margin: 40px 0 0;
 }
.owl-next{
  position: absolute;
    left: auto;
    font-size: 40px;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    right: -50px;
    top: 30%;
}
.owl-dots{
  display: flex;
  justify-content: center;
}

.owl-carousel button.owl-dot{
  background-color: #08ef85;
  width: 30px;
  height: 10px;
  margin: 0 10px;
  opacity: .5;
}
.owl-carousel .owl-item img{
  width: 32%;
  margin: 0px 10px;
}
.owl-dots button.owl-dot.active {
  opacity: 1;
}

.fullpage-content{
  width: 100%;
}

.text-up-wrap{
  display: flex;
  align-items: center;
}
.green-text{
    width: 30%;
    color: #08ef85;
    font-size: 36px;
    font-family: 'RobotoMono-Bold', sans-serif; 
}
.media-title{
  width: 100%;
  color: #fff;
  font-size: 36px;
  font-family: 'RobotoMono-Bold', sans-serif; 
}
.media-slider{
  width: 90%;
  margin: 0 auto;
}
.media-title span{
  color:#08ef85;
}
.media-content{
  display: flex;
  flex-direction: column;
}
.slide-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-counter {
  height: 100px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 20px;
  top: 30%;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-transition: all .5s linear .5s;
  transition: all .5s linear .5s; }

.slide-counter-span {
  font-size: 14px;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  color: #fff; }

.slide-counter-span-num {
  color: #08ef85; }

.slide-counter-span-line {
  height: 50%;
  width: 1px;
  background-color: #fff; }



.price{
  padding: 0 0 45px 0;
}

.price-title{
font-family: 'IBMPlexMono-Medium', sans-serif;
color: #fff;
padding: 0 0 20px 0;
}
.price-count{
  color: #08ef85;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  font-size: 36px;
  display: flex;

}
.price-count-line{
  font-size: 18px;
  color: #fff;
  padding: 0 0 0 20px;
  position: relative;
}
.price-count-line::after{
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #fff;
  top: 23%;
  right: 0;
  content: '';
}

.right-wrap .become-sponsor-link{
  display: none;
}
/**************************/

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }
.media-container{
  max-width: 1260px;
}
html {
  min-height: 100%;  }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-height: 100%;
  height: 100%;
  font-family: 'RobotoMono-Light', sans-serif;
  background-image: url(../img/stub-bcg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed; }

a {
  font-family: 'IBMPlexMono-Regular', sans-serif;
  text-decoration: none; }

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.btn-green {
  background: #08ef85;
  border: 1px solid #08ef85;
  color: #252525;
  display: inline-block;
  padding: 12px 47px;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s; }

.btn-green:hover {
  background: transparent;
  color: #08ef85; }

.btn-small {
  font-size: 14px; }

.btn-medium {
  font-size: 16px; }

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.main-content {
  padding: 0  0 50px; }

.header {
  width: 100%;
  /*background: #000;*/
  z-index: 1;
  position: fixed;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.header-wrap {
  width: 100%;
  padding: 18px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-wrap .header-logo {
    display: inline-block;
    max-width: 190px;
    height: auto;
    position: relative;
    z-index: 1000; }
    .header-wrap .header-logo img {
      width: 100%;
      height: auto; }
  .header-wrap .nav-text {
    display: inline-block;
  }
    .header-wrap .nav-text .become-sponsor-link {
      padding: 10px 48px;
      color: #fff;
    }
.header-wrap .nav-text .become-sponsor-link.mobile {
  display: none;
}
.header-not-fixed{
  position: static;
}
.main {
  width: 100%;
  z-index: 0;
  padding: 60px 0; }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.img-wrap-statue {
  height: 680px;
  width: 495px;
  background-image: url(../img/statue.png); }
  .img-wrap-statue:before {
    background-image: url(../img/statue.png); }

.soc-wrap {
  position: fixed;
  bottom: 22px;
  right: 31px;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .soc-wrap a {
    color: #fff;
    -webkit-transition: color .3s;
    transition: color .3s;
    display: inline-block;
    margin: 14px auto; }
    .soc-wrap a i {
      font-size: 16px; }

.right-wrap {
  width: 50%;
  padding: 0 0 35px 14px; }
  .right-wrap h2 {
    margin: 20px 0 0;
    color: #08ef85;
    font-size: 36px;
    font-family: 'RobotoMono-Bold', sans-serif; }
  .right-wrap h3 {
    font-size: 24px;
    /*padding: 10px 0 0;*/
    font-family: 'RobotoMono-Regular', sans-serif;
    margin: 0 auto 5px;
    color: #08ef85; }
  .right-wrap p.blue-txt {
    font-family: 'RobotoMono-Regular', sans-serif;
    color: #fff;
    display: inline-block;
    background-color: #2a36e6;
    padding: 0 10px;
    font-size: 18px; }
  .right-wrap p {
    color: #fff;
    padding: 45px 0px;
    font-family: 'IBMPlexMono-Medium', sans-serif;
    line-height: 30px; }
    .right-wrap p span {
      display: block; }

.recovery-pass-form {
  position: relative;
  max-width: 400px;
  width: 100%; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-no-acc, .form-already-acc {
    text-align: center;
    color: #999;
    width: 100%;
    font-family: 'IBMPlexMono-Medium', sans-serif;
    font-size: 14px; }
    .form-no-acc a, .form-already-acc a {
      color: #fff;
      text-decoration: underline; }
  .form-title {
    font-family: 'RobotoMono-Bold', sans-serif;
    font-size: 36px;
    color: #08ef85;
    width: 100%;
    text-align: center; }
    .form-title .title-decor-cross {
      position: relative; }
      .form-title .title-decor-cross:before, .form-title .title-decor-cross:after {
        display: block;
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        background: url(../img/svg/green_cross.svg) no-repeat center center/contain; }
      .form-title .title-decor-cross:after {
        left: 100%;
        top: 0; }
      .form-title .title-decor-cross:before {
        right: 105%;
        bottom: 0; }
    .form-title.recovery-pass-form-title {
      margin: 0 auto 50px; }
      .form-title.recovery-pass-form-title .title-decor-cross:after {
        left: 18%; }
      .form-title.recovery-pass-form-title .title-decor-cross:before {
        right: 188%;
        bottom: 100%; }
      .form-title.recovery-pass-form-title:after, .form-title.recovery-pass-form-title:before {
        display: block;
        content: '';
        position: absolute; }
      .form-title.recovery-pass-form-title:after {
        background: url(../img/svg/two_white_wave.svg) no-repeat center center/contain;
        left: 94%;
        bottom: 97%;
        width: 35px;
        height: 11px; }
      .form-title.recovery-pass-form-title:before {
        background: url(../img/svg/white_wave.svg) no-repeat center center/contain;
        left: -10px;
        top: 30px;
        width: 25px;
        height: 7px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
  .form-desc {
    font-family: 'IBMPlexMono-Medium', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    line-height: 28px; }
    .form-desc.auth-form-desc {
      max-width: 315px;
      margin: 0 auto; }
  .form-input {
    background: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: transparent transparent #08ef85 transparent;
    margin: 10px 0 0;
    font-size: 18px;
    color: #fff;
    padding: 14px 5px;
    width: 100%;
    outline: none; }
    .form-input-row {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 auto 20px;
      max-width: 410px; }
      .form-input-row span {
        display: block;
        width: 100%; }
    .form-input-title {
      font-family: 'IBMPlexMono-Medium', sans-serif;
      font-size: 14px;
      color: #fff; }
  .form-submit {
    margin: 20px auto;
    text-align: center; }

.forgot-password,
.above {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  color: #999;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  line-height: normal; }
  .forgot-password a,
  .above a {
    font-family: 'IBMPlexMono-Medium', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: underline; }

.auth-page {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.back-link-wrap {
  width: 100%;
  text-align: left; }

.back-link-inner {
  width: 90%;
  margin: 20px auto; }
  .back-link-inner a {
    font-family: 'RobotoMono-Regular', sans-serif;
    font-size: 18px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .back-link-inner a svg {
      fill: rgba(255, 255, 255, 0.5);
      width: 20px;
      margin: 0 5px 0; }

.auth-form {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #191919;
  padding: 40px;
  max-width: 630px;
  width: 100%;
  position: relative; }

.terms-use-decor-cross-1 {
  position: absolute;
  left: -10%;
  top: -80px;
  width: 25px; }

.terms-use-decor-cross-2 {
  position: absolute;
  right: -4.8%;
  top: -45px;
  width: 15px;
  opacity: .5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.terms-use-decor-wave-2 {
  position: absolute;
  right: -15%; }

.terms-use-decor-cross-3 {
  position: absolute;
  left: -5.2%;
  top: 25%;
  width: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: .5; }

.terms-use-decor-cross-5 {
  position: absolute;
  right: -4.8%;
  top: 100px;
  width: 15px; }

.terms-use-decor-wave-5 {
  position: absolute;
  left: -15%;
  top: 45%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.terms-use-decor-cross-7 {
  position: absolute;
  left: -4.8%;
  top: 45%; }

.terms-of-use-page {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.terms-of-use-title-decor-privce {
  position: absolute;
  right: 0%;
  top: 100%;
  display: block;
  width: 25px; }
  .terms-of-use-title-decor-privce img, .terms-of-use-title-decor-privce svg {
    width: 100%; }

.terms-use-decor-cross-5-privce {
  position: absolute;
  left: -5%;
  top: 139%;
  width: 20px; }

.terms-use-decor-cross-4-privce {
  position: absolute;
  left: -5%;
  top: 50%;
  width: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: .5; }

.terms-use-decor-cross-3-privce {
  position: absolute;
  right: -7%;
  top: 50%;
  width: 20px; }

.terms-use-decor-cross-2-privce {
  position: absolute;
  right: -5%;
  top: 50%;
  width: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: .5; }

.terms-use-decor-cross-1-privce {
  position: absolute;
  left: 1%;
  top: 20px;
  width: 20px; }

.page-title {
  width: 100%;
  color: #00Ef7f;
  font-size: 30px;
  font-weight: bold;
  font-family: 'IBMPlexMono-Regular', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  position: relative; }
  .page-title .terms-of-use-title-decor {
    position: absolute;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 25px; }
    .page-title .terms-of-use-title-decor img, .page-title .terms-of-use-title-decor svg {
      width: 100%; }

.page-content {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #191919;
  padding: 40px; }

.page-block {
  width: 100%;
  position: relative; }
  .page-block-title {
    color: #08ef85;
    font-family: 'IBMPlexMono-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin: 40px auto;
    width: 100%; }
    .page-block-title.tac {
      text-align: center; }
  .page-block-text {
    font-family: 'IBMPlexMono-Regular', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    margin: 0 auto 25px; }

.statue-block {
  width: 100%;
  margin: 20px auto;
  text-align: center; }

.coinpayment-form {
  width: 100%;
  max-width: 372px; }

.personal-buy-ticket-form-wrap-crypto form {
  text-align: center; }

.site-footer {
  position: fixed;
  bottom: 27px;
  left: 0; }

.footer-wrap {
  width: 100%; }
  .footer-wrap .nav-text {
    line-height: normal;
    font-family: 'IBMPlexMono-Regular', sans-serif;
    margin-left: 27px; }
    .footer-wrap .nav-text a {
      font-family: 'IBMPlexMono-Regular', sans-serif;
      color: #fff;
      margin: 0 25px 0 0; }

.decor-wave-one {
  position: absolute;
  left: -17px;
  bottom: 20%;
  width: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  .decor-wave-one img {
    width: 100%; }

.decor-wave-one-privce {
  position: absolute;
  left: -5%;
  bottom: 20%;
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .decor-wave-one-privce img {
    width: 100%; }

.decor-wave-three-privce {
  position: absolute;
  right: -6%;
  bottom: 20%;
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .decor-wave-three-privce img {
    width: 100%; }

.decor-wave-two {
  position: absolute;
  right: -12px;
  top: 6%;
  width: 30px; }
  .decor-wave-two img {
    width: 100%; }

.personal__ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.personal__ticket__price {
  width: 45%;
  margin: 0 1% 0;
  padding: 20px; }

.personal__ticket__price__title {
  font-family: 'IBMPlexMono-Regular', sans-serif;
  font-size: 22px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: auto 0 auto auto; }

.personal__ticket__price__payment {
  line-height: normal;
  color: #08ef85;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'RobotoMono-Bold' , sans-serif; }

.personal__ticket__price__payment__span {
  font-size: 36px;
  color: #454545;
  line-height: normal;
  margin: auto 0 0 7px;
  position: relative;
  padding: 0 7px; }
  .personal__ticket__price__payment__span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: #626262;
    left: 0;
    top: 50%; }

.personal__ticket__counter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #252525;
  background-color: #181818;
  padding: 20px; }

.personal__ticket__counter__title {
  width: 90%;
  font-family: 'IBMPlexMono-Regular', sans-serif;
  font-size: 22px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  magin: 0 auto; }

.personal__ticket__counter__count {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.personal__ticket__counter__count__item {
  width: 33%;
  text-align: center;
  line-height: normal;
  font-family: 'IBMPlexMono-Bold', sans-serif;
  font-size: 36px;
  color: #fff; }
  .personal__ticket__counter__count__item:nth-child(2) {
    position: relative; }
    .personal__ticket__counter__count__item:nth-child(2):after {
      content: '';
      width: 1px;
      height: 70%;
      top: 15%;
      background-color: #626262;
      position: absolute;
      left: 0; }
    .personal__ticket__counter__count__item:nth-child(2):before {
      content: '';
      width: 1px;
      height: 70%;
      top: 15%;
      background-color: #626262;
      position: absolute;
      right: 0; }

.personal__ticket__counter__count__item__span {
  font-size: 22px;
  color: #454545; }

.personal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.personal__btn__cross__img {
  position: absolute;
  top: 200%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .3; }

.personal__btn__cross__img img {
  margin: 10px; }

.personal__btn__button {
  padding: 10px 23px;
  text-align: center;
  font-family: 'IBMPlexMono-Regular', sans-serif;
  margin: 0 10px;
  font-size: 22px;
  color: #a8a8a8; }
  .personal__btn__button.active {
    border-bottom: 4px solid #08ef85;
    color: #08ef85; }

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'IBMPlexMono-Medium', sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 100%; }

.header-logout {
  display: block;
  margin: 0 0 0 20px;
  width: 25px; }

.decor-wave-two-personal {
  position: absolute;
  right: 07%;
  top: 25%;
  width: 30px; }

.decor-wave-two-personal-down {
  position: absolute;
  right: 15%;
  bottom: 25%;
  width: 30px; }

.personal-buy-ticket-form-wrap-crypto,
.personal-buy-ticket-form-wrap-money {
  display: none; }

.personal-buy-ticket-form-wrap.active {
  display: block; }

.glitch {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }
  .glitch:before {
    display: block;
    /*content: '';*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    opacity: 0.5;
    -webkit-animation: animate 5s infinite;
            animation: animate 5s infinite; }

@-webkit-keyframes animate {
  0% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  1% {
    background-position: 4px 0; }
  2% {
    background-position: -4px 0; }
  3% {
    background-position: 12px 0; }
  4% {
    background-position: -16px 0; }
  5% {
    background-position: -24px 0; }
  6% {
    background-position: -52px 0; }
  7% {
    background-position: 0 22px; }
  8% {
    background-position: -40px -10px; }
  9% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    100% { }
    background-position: 0 0;
    filter: hue-rotate(360deg); } }

@keyframes animate {
  0% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  1% {
    background-position: 4px 0; }
  2% {
    background-position: -4px 0; }
  3% {
    background-position: 12px 0; }
  4% {
    background-position: -16px 0; }
  5% {
    background-position: -24px 0; }
  6% {
    background-position: -52px 0; }
  7% {
    background-position: 0 22px; }
  8% {
    background-position: -40px -10px; }
  9% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    100% { }
    background-position: 0 0;
    filter: hue-rotate(360deg); } }

.close-modal {
  position: absolute;
  right: 27px;
  top: 27px; }
  .close-modal svg {
    fill: #919191;
    width: 25px;
    height: 25px; }

.modal {
  background: #222328;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  padding: 70px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 100; }
  .modal.thank-you-modal {
    padding: 70px 0 0; }
  .modal.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto; }
  .modal-title {
    font-family: 'RobotoMono-Bold', sans-serif;
    font-size: 36px;
    color: #08ef85;
    width: 100%; }
  .modal-pre-text {
    font-family: 'IBMPlexMono-Medium', sans-serif;
    font-size: 18px;
    color: #fff;
    max-width: 580px;
    margin: 30px 0; }
  .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 895px;
    width: 100%; }
  .modal-img.modal-img-lion {
    background-image: url(../img/statue_lion.png);
    width: 302px;
    height: 383px; }
    .modal-img.modal-img-lion:before {
      background-image: url(../img/statue_lion.png); }
  .modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .modal-form-contact {
      max-width: 410px; }
    .modal-form-row {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 0 20px; }
      .modal-form-row span {
        display: block;
        width: 100%; }
    .modal-form-input {
      background: rgba(0, 0, 0, 0.5);
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: transparent transparent #08ef85 transparent;
      border-radius: 0;
      margin: 5px 0 0;
      font-size: 18px;
      color: #fff;
      padding: 14px 5px;
      width: 100%;
      outline: none; }
      .modal-form-input-title {
        font-family: 'IBMPlexMono-Medium', sans-serif;
        font-size: 14px;
        color: #fff; }

.decor-cross {
  position: absolute;
  left: 27px;
  bottom: 100px; }
  .decor-cross svg,
  .decor-cross img {
    fill: #07e782;
    fill-rule: evenodd;
    height: 190px; }

.get-invite-inner,
.thank-you-modal-inner,
.become-sponsor-inner,
.contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; }

.contact-inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.get-invite-modal-row,
.become-sponsor-modal-row,
.contact-modal-row {
  max-width: 410px;
  width: 100%; }
  .get-invite-modal-row:not(.contact-modal-row):nth-child(odd),
  .become-sponsor-modal-row:not(.contact-modal-row):nth-child(odd),
  .contact-modal-row:not(.contact-modal-row):nth-child(odd) {
    margin: 0 10px 20px 0; }

.modal-statue-thank-you-img {
  background-image: url(../img/statue_thank-you.png);
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 657px;
  width: 392px; }
  .modal-statue-thank-you-img:before {
    background-image: url(../img/statue_thank-you.png); }

@media all and (max-width: 1024px) {
  /********************************/
  .text-up-wrap{
    flex-direction: column;
    align-items: flex-start;
  }
  .right-wrap p.blue-txt{
    margin: 10px auto 0;
    width: 100%;
  }

  /********************************/
  .modal-content-get-invite {
    max-width: 530px; } }

@media all and (max-width: 768px) {
  /********************************/
  .header{
    position: static;
  }
  .right-wrap h3{
    padding: 25px 0 0;
    margin: 0 auto;
  }
    .media-slider.mob{
    display: block;
  }
  .media-slider.desc{
    display: none;
  }
  .green-text{
    width: 50%;
  }
  .slide-counter{
    display: none;
  }
    .slide-item{
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .owl-carousel .owl-item img{
    width: 60%;
    margin: 0 auto;
  }
  .text-up-wrap{
    align-items: center;
    /*padding: 50px 0 0 ;*/
  }
  .right-wrap p.blue-txt{
    width: 70%;
  }
  .price-count{
    justify-content: center;
  }
  body{
    background-image: none;
    background-color: #000;
  }
  .header-wrap{
    background-color: #000;
  }
  .header{
    z-index: 1;
  }
  .media-slider{
    z-index: 0
  }
  .main{
    /*padding: 105px 0 0;*/
    /*z-index: 0;*/
  }
  /********************************/
  .modal {
    padding: 70px 15px; }
  .get-invite-modal-row:not(.contact-modal-row):nth-child(odd),
  .get-invite-modal-row:not(.contact-modal-row):nth-child(even),
  .become-sponsor-modal-row:not(.contact-modal-row):nth-child(odd),
  .become-sponsor-modal-row:not(.contact-modal-row):nth-child(even),
  .contact-modal-row:not(.contact-modal-row):nth-child(odd),
  .contact-modal-row:not(.contact-modal-row):nth-child(even) {
    margin: 0 auto 20px; }
  .decor-cross {
    left: 7px; }
  .submit-btn {
    margin: 0 auto; } }

@media all and (max-width: 578px) {
  .main{
    padding: 0px !important;
  }
  .owl-carousel .owl-item img{
    width: 85%;
    margin: 0 auto;
  }
  /********************************/
/*  .slide-item{
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .owl-carousel .owl-item img{
    width: 33%;
  }*/
  .owl-carousel button.owl-dot{
    width: 23px;
    height: 7px;
    margin: 0 7px;
  }
    .right-wrap p.blue-txt{
    width: 100%;
  }
  /********************************/

  .close-modal {
    right: 15px;
    top: 15px;
    padding: 0; }
  .inner-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .modal-content {
    padding: 0 15px;
    width: 100%;
    width: 100%; }
  .modal-title {
    font-size: 30px;
    text-align: center; }
  .modal-pre-text {
    text-align: center; }
  .modal-img.modal-img-lion {
    height: 230px;
    width: 178px;
    margin: 0 auto; }
  .modal-statue-thank-you-img {
    height: 253px;
    width: 150px;
    background-size: contain; }
    .modal-statue-thank-you-img:before {
      height: 253px;
      width: 150px;
      background-size: contain; } }

@media all and (min-width: 1366px) {
  html {
    height: 100%; } }

@media all and (width: 1366px) and (height: 1024px) {
  body.main-page {
    height: 100vh; } }

@media all and (width: 1024px) and (height: 1366px) {
  body.main-page {
    height: 100vh; } }

@media all and (width: 812px) and (height: 375px) {
  .site-footer {
    position: relative; } }

@media all and (width: 736px) and (height: 414px) {
  .site-footer {
    position: relative; } }

@media all and (width: 667px) and (height: 375px) {
  .site-footer {
    position: relative; } }

@media all and (min-width: 1600px) and (max-width: 1910px) {
  .img-wrap-statue {
    height: 580px;
    width: 440px; } }

@media all and (min-width: 1366px) and (max-width: 1599px) {
  .main-content {
    padding: 0; }
  .img-wrap-statue {
    height: 480px;
    width: 440px; } }
@media all and (min-width: 1025px) and (max-width: 1365px) {
  .img-wrap-statue{
    width: 415px;
    height: 550px;
  }
  }
@media all and (max-width: 1024px) {
  .decor-wave-two-personal {
    display: none; }
  .decor-wave-two-personal-down {
    display: none; }
  .personal__ticket__price__payment {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .personal__ticket__price__title {
    width: 98%; }
  .header-wrap .header-logo {
    z-index: 10; }
  .img-wrap-statue {
    height: 540px; }
  .personal__ticket__price {
    width: 100%;
    margin: 0 auto; }
  .personal__ticket__counter {
    margin: 0 auto;
    width: 100%;
    text-align: center; } }

@media all and (max-width: 768px) {
  .slide-item a{
    width: 100%;
  }

  .personal__btn__cross__img {
    display: none; }
  .header-wrap {
    padding: 15px; }
  .header-wrap .header-logo img {
    width: 90%; }
  .header-wrap .nav-text .become-sponsor-link {
    padding: 10px 20px;
    display: block;
    margin: 0 auto}
  .btn-green-1 {
    padding: 10px 25px; }
  .main-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0 0; }
  .right-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    text-align: center;
    padding: 0 0 35px 0; }
  .img-wrap-statue {
    margin: 20px auto 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 400px;
    background-position: center; }
    .img-wrap-statue:before {
      background-position: center; }
  .back-link-wrap {
    display: none; }
  .right-wrap p.blue-txt {
    font-size: 16px; }
  .form-desc {
    font-size: 16px; }
  .form-input {
    font-size: 16px; }
  .back-link-inner a {
    font-size: 16px; }
  .page-block-text {
    font-size: 16px; }
  .site-footer {
    position: relative; } }

@media all and (max-width: 667px) {
  .terms-use-decor-wave-2 {
    display: none; }
  .auth-form {
    width: 92%;
    padding: 10px; }
  .header-contact {
    margin: 10px auto; }
  .personal__ticket__counter__count__item {
    width: 100%;
    text-align: center; }
  .personal__ticket__counter__count__item__data__min {
    width: 45px;
    max-width: 100%;
    display: inline-block; }
  .personal__ticket__counter__count__item__span {
    width: 70px;
    display: block;
    margin: 0 auto; }
  .personal__ticket__price__payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .personal__ticket__price__payment span {
      width: 70%;
      margin: 0 auto;
      display: block;
      text-align: center; }
  .personal__ticket__price__title {
    width: 100%;
    display: block;
    text-align: center; }
  .personal__btn__button {
    padding: 0;
    font-size: 20px; } }

.personal__ticket__counter {
  padding: 10px; }

.personal__ticket__counter__title {
  width: 100%; }

@media all and (max-width: 578px) {
  .slide-item a{
    width: 100%;
  }
  .footer-wrap .nav-text a{
    font-size: 10px;
    font-family: 'IBMPlexMono-Regular', sans-serif;
  }
    .footer-wrap .nav-text {
    font-size: 10px;
    font-family: 'IBMPlexMono-Regular', sans-serif;
  }
  .slide-counter{
    top: 17%;
  }
  .header-logout {
    position: absolute;
    right: 15px;
    top: 15px; }
  .header-wrap {
    justify-content: space-between;
    margin: 0 auto;
  }
  .header-logo {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  .header-wrap .nav-text {
    width: 100%;
    margin: 0 auto;
    text-align: right; }
  .header-wrap .nav-text .become-sponsor-link {
    display: none;
  }
  .become-sponsor-link.mobile {
    display: block;
    margin: 20px auto 0;
    color: #fff;
    font-size: 16px;
    position: relative;
  }
  .become-sponsor-link.mobile:after {
    width: 95%;
    height: 1px;
    background: #08ef85;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    bottom: -5px;
  }
  .main-content {
    padding: 0; }
  .right-wrap p {
    padding: 20px 0;
    line-height: 20px; }
  .img-wrap-statue {
    height: 230px;
    width: 185px; }
  .soc-wrap {
    right: 7px; }
  .site-footer {
    position: relative;
    bottom: 0; }
  .footer-wrap .nav-text {
    margin: 0 auto;
    padding: 20px 15px; }
  .page-content {
    padding: 10px;
    width: 100%;
    word-break: break-word; }
}

@media all and (max-width: 480px) {
  .header-wrap .nav-text .btn-green {
    padding: 12px 20px;
  }
  .right-wrap p span {
    display: inline; }
  .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header-contact-right {
    margin: 10px 0; } }

.mfp-bg{z-index:1042;overflow:hidden;background:#0b0b0b;opacity:.8}.mfp-bg,.mfp-wrap{top:0;left:0;width:100%;height:100%;position:fixed}.mfp-wrap{z-index:1043;outline:none!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;box-sizing:border-box}.mfp-container:before{content:"";display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-preloader a:hover{color:#fff}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;box-shadow:none;-ms-touch-action:manipulation;touch-action:manipulation}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;color:#fff;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px;white-space:nowrap}.mfp-arrow{position:absolute;opacity:.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1}.mfp-arrow:after,.mfp-arrow:before{content:"";display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left:after{border-right:17px solid #fff;margin-left:31px}.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}.mfp-arrow-right:before{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure,img.mfp-img{line-height:0}.mfp-figure:after{content:"";position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-height:300px),screen and (max-width:800px) and (orientation:landscape){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media (max-width:900px){.mfp-arrow{transform:scale(.75)}.mfp-arrow-left{transform-origin:0}.mfp-arrow-right{transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper-pp:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-resistance:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}.fa-reddit-alien:before{content:"\f281"}.fa-edge:before{content:"\f282"}.fa-credit-card-alt:before{content:"\f283"}.fa-codiepie:before{content:"\f284"}.fa-modx:before{content:"\f285"}.fa-fort-awesome:before{content:"\f286"}.fa-usb:before{content:"\f287"}.fa-product-hunt:before{content:"\f288"}.fa-mixcloud:before{content:"\f289"}.fa-scribd:before{content:"\f28a"}.fa-pause-circle:before{content:"\f28b"}.fa-pause-circle-o:before{content:"\f28c"}.fa-stop-circle:before{content:"\f28d"}.fa-stop-circle-o:before{content:"\f28e"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-hashtag:before{content:"\f292"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-percent:before{content:"\f295"}.fa-gitlab:before{content:"\f296"}.fa-wpbeginner:before{content:"\f297"}.fa-wpforms:before{content:"\f298"}.fa-envira:before{content:"\f299"}.fa-universal-access:before{content:"\f29a"}.fa-wheelchair-alt:before{content:"\f29b"}.fa-question-circle-o:before{content:"\f29c"}.fa-blind:before{content:"\f29d"}.fa-audio-description:before{content:"\f29e"}.fa-volume-control-phone:before{content:"\f2a0"}.fa-braille:before{content:"\f2a1"}.fa-assistive-listening-systems:before{content:"\f2a2"}.fa-asl-interpreting:before,.fa-american-sign-language-interpreting:before{content:"\f2a3"}.fa-deafness:before,.fa-hard-of-hearing:before,.fa-deaf:before{content:"\f2a4"}.fa-glide:before{content:"\f2a5"}.fa-glide-g:before{content:"\f2a6"}.fa-signing:before,.fa-sign-language:before{content:"\f2a7"}.fa-low-vision:before{content:"\f2a8"}.fa-viadeo:before{content:"\f2a9"}.fa-viadeo-square:before{content:"\f2aa"}.fa-snapchat:before{content:"\f2ab"}.fa-snapchat-ghost:before{content:"\f2ac"}.fa-snapchat-square:before{content:"\f2ad"}.fa-pied-piper:before{content:"\f2ae"}.fa-first-order:before{content:"\f2b0"}.fa-yoast:before{content:"\f2b1"}.fa-themeisle:before{content:"\f2b2"}.fa-google-plus-circle:before,.fa-google-plus-official:before{content:"\f2b3"}.fa-fa:before,.fa-font-awesome:before{content:"\f2b4"}.fa-handshake-o:before{content:"\f2b5"}.fa-envelope-open:before{content:"\f2b6"}.fa-envelope-open-o:before{content:"\f2b7"}.fa-linode:before{content:"\f2b8"}.fa-address-book:before{content:"\f2b9"}.fa-address-book-o:before{content:"\f2ba"}.fa-vcard:before,.fa-address-card:before{content:"\f2bb"}.fa-vcard-o:before,.fa-address-card-o:before{content:"\f2bc"}.fa-user-circle:before{content:"\f2bd"}.fa-user-circle-o:before{content:"\f2be"}.fa-user-o:before{content:"\f2c0"}.fa-id-badge:before{content:"\f2c1"}.fa-drivers-license:before,.fa-id-card:before{content:"\f2c2"}.fa-drivers-license-o:before,.fa-id-card-o:before{content:"\f2c3"}.fa-quora:before{content:"\f2c4"}.fa-free-code-camp:before{content:"\f2c5"}.fa-telegram:before{content:"\f2c6"}.fa-thermometer-4:before,.fa-thermometer:before,.fa-thermometer-full:before{content:"\f2c7"}.fa-thermometer-3:before,.fa-thermometer-three-quarters:before{content:"\f2c8"}.fa-thermometer-2:before,.fa-thermometer-half:before{content:"\f2c9"}.fa-thermometer-1:before,.fa-thermometer-quarter:before{content:"\f2ca"}.fa-thermometer-0:before,.fa-thermometer-empty:before{content:"\f2cb"}.fa-shower:before{content:"\f2cc"}.fa-bathtub:before,.fa-s15:before,.fa-bath:before{content:"\f2cd"}.fa-podcast:before{content:"\f2ce"}.fa-window-maximize:before{content:"\f2d0"}.fa-window-minimize:before{content:"\f2d1"}.fa-window-restore:before{content:"\f2d2"}.fa-times-rectangle:before,.fa-window-close:before{content:"\f2d3"}.fa-times-rectangle-o:before,.fa-window-close-o:before{content:"\f2d4"}.fa-bandcamp:before{content:"\f2d5"}.fa-grav:before{content:"\f2d6"}.fa-etsy:before{content:"\f2d7"}.fa-imdb:before{content:"\f2d8"}.fa-ravelry:before{content:"\f2d9"}.fa-eercast:before{content:"\f2da"}.fa-microchip:before{content:"\f2db"}.fa-snowflake-o:before{content:"\f2dc"}.fa-superpowers:before{content:"\f2dd"}.fa-wpexplorer:before{content:"\f2de"}.fa-meetup:before{content:"\f2e0"}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}

@font-face {
  font-family: "RobotoMono-Bold";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-BoldItalic";
  src: url("../fonts/RobotoMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Italic";
  src: url("../fonts/obotoMono-Itali.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Light";
  src: url("../fonts/RobotoMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-LightItalic";
  src: url("../fonts/RobotoMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Medium";
  src: url("../fonts/RobotoMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-MediumItalic";
  src: url("../fonts/RobotoMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Regular";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Thin";
  src: url("../fonts/RobotoMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-ThinItalic";
  src: url("../fonts/RobotoMono-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Bold";
  src: url("../fonts/IBMPlexMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-BoldItalic";
  src: url("../fonts/IBMPlexMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ExtraLight";
  src: url("../fonts/IBMPlexMono-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ExtraLightItalic";
  src: url("../fonts/IBMPlexMono-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Italic";
  src: url("../fonts/IBMPlexMono-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("../fonts/IBMPlexMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-LightItalic";
  src: url("../fonts/IBMPlexMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url("../fonts/IBMPlexMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-MediumItalic";
  src: url("../fonts/IBMPlexMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-SemiBoldItalic";
  src: url("../fonts/IBMPlexMono-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url("../fonts/IBMPlexMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ThinItalic";
  src: url("../fonts/IBMPlexMono-ThinItalic.ttf") format("truetype"); }
